:root {
    --font: 'Ubuntu' !important;
    --monospaced-font: 'Ubuntu Mono' !important;
    --sidebar-font-size: 13px !important;
    --tabs-font-size: 11px !important;
    --breadcrumbs-font-size: 12px !important;
    --statusbar-font-size: 11px !important;
    --cursor-border-radius: 1px !important;
    --background-blur: 10px;
    --quick-input-border-radius: 6px !important;
    --popup-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.36);
    --so-box-shadow-xl: 0 1px 4px hsla(0, 0%, 0%, 0.09), 0 3px 8px hsla(0, 0%, 0%, 0.09), 0 4px 13px hsla(0, 0%, 0%, 0.13)
}

/* sidebar */
.composite.title {
    border-bottom: 1px solid var(--vscode-editorGroupHeader-border);
    background-color: var(--vscode-editorGroupHeader-tabsBackground)
}

.composite.title .title-label>h2 {
    font-size: 12px !important;
    font-family: var(--monospaced-font);
    font-weight: bold !important;
}

/* global monaco list */
.monaco-list-row {
    border-radius: 4px;
    font-family: var(--font) !important;
}

/* sidebar search monaco list */
.sidebar .content .search-view .monaco-list-rows {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
}

/* sidebar scm monaco list */
.sidebar .content .scm-view .monaco-list-rows {
    width: calc(100% - 20px);
    margin-top: 5px !important;
    margin-left: auto;
    margin-right: auto;
}

/* sidebar explorer monaco list */
.sidebar .content .explorer-viewlet .monaco-list-rows {
    width: calc(100% - 20px);
    margin-top: 5px !important;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font)
}

.sidebar .content .explorer-viewlet .monaco-list-rows .label-name {
    font-size: var(--sidebar-font-size)
}

.sidebar .content .explorer-viewlet .monaco-list-rows .folder-icon * {
    font-weight: 500 !important
}

.sidebar .content .explorer-viewlet .monaco-list-rows .file-icon * {
    font-weight: 400 !important;
    color: #9A9A9A !important
}

/* panel */
.panel .composite.title .global-actions {
    display: none;
}
