:root {
    --font: 'Ubuntu' !important;
    --monospaced-font: 'Ubuntu Mono' !important;
    --sidebar-font-size: 13px !important;
    --tabs-font-size: 11px !important;
    --breadcrumbs-font-size: 12px !important;
    --statusbar-font-size: 11px !important;
    --cursor-border-radius: 1px !important;
    --background-blur: 10px;
    --quick-input-border-radius: 6px !important;
    --popup-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.36);
    --so-box-shadow-xl: 0 1px 4px hsla(0, 0%, 0%, 0.09), 0 3px 8px hsla(0, 0%, 0%, 0.09), 0 4px 13px hsla(0, 0%, 0%, 0.13)
}

/* quick pick widget */
.quick-input-widget {
    font-family: var(--font);
    margin-top: 5%;
    border: 1px solid var(--vscode-pickerGroup-border);
    border-radius: var(--quick-input-border-radius);
    backdrop-filter: blur(var(--background-blur))
}

.quick-input-header {
    padding-block: 6px !important;
    border-bottom: 1px solid var(--vscode-pickerGroup-border)
}

.quick-input-header .monaco-inputbox {
    outline: none !important;
    background-color: unset !important
}

.quick-input-header .monaco-inputbox input::placeholder {
    color: #757575 !important
}

.quick-input-widget .quick-input-list .quick-input-list-separator {
    font-size: 11px !important;
    font-weight: 500 !important;
    font-family: var(--font);
    text-transform: uppercase
}

.quick-input-widget .monaco-list-rows {
    background: none !important;
}

.quick-input-widget label.quick-input-list-label {
    font-family: var(--font)
}

/* suggestion widget */
.suggest-widget {
    padding-top: 5px;
    font-family: var(--font);
    border-radius: 4px;
    background-color: #252526c0 !important;
    backdrop-filter: blur(var(--background-blur));
    box-shadow: var(--so-box-shadow-xl)
}

.suggest-widget .monaco-list {
    width: calc(100% - 10px);
    margin: 0px auto
}

.suggest-widget .suggest-status-bar {
    color: #79797A !important;
    background-color: #2C2C2D !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.suggest-widget .label-name {
    font-family: var(--monospaced-font)
}

/* hover widget */
.monaco-hover {
    font-family: var(--font);
    border-radius: 4px;
    background-color: #252526c0 !important;
    backdrop-filter: blur(var(--background-blur));
    box-shadow: var(--so-box-shadow-xl)
}

/* quick fix widget */
.action-widget {
    font-family: var(--font) !important;
    background-color: #252526c0 !important;
    border-radius: 4px !important;
    backdrop-filter: blur(var(--background-blur)) !important;
    box-shadow: var(--so-box-shadow-xl) !important;
}

.action-widget .actionList {
    padding-left: 5px;
    padding-right: 5px;
}

.action-widget .actionList .monaco-list-row {
    font-family: var(--font);
}

.action-widget .action-widget-action-bar {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.action-widget .action-widget-action-bar a {
    color: gray !important;
    font-size: 11px;
}

/* parameter hints widget */
.parameter-hints-widget {
    font-family: var(--font);
    border-radius: 4px;
    background-color: #252526c0 !important;
    backdrop-filter: blur(var(--background-blur));
    box-shadow: var(--so-box-shadow-xl);
}
